<?xml version="1.0" encoding="UTF-8"?>
<suite name="LoginTestSuite">
    <test name="LoginTests">
        <classes>
            <class name="Tests.PostStationAPITests"/>
            <class name="Tests.registerMeasurementsTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="Listeners.AllureTestListener"/>
    </listeners>
</suite>

